<div id="body-container" class="uk-dark" data-user-id="{{user.id}}">
    <div id="room-list-container" class="uk-overflow-auto">
        <ul id='room-list'>
        </ul>
     </div>

  <div id="send-container" class="uk-position-bottom">
      <form id="send-form" class="uk-form-horizontal">
          <div id="input-text-area">
              <textarea  id="message-input" class="uk-textarea"></textarea>
          </div>
          <img id="file-preview"></img>
          <div id="input-file-area">
                  <input type="file" id="file-to-upload" accept="image/png,image/gif,image/jpeg">
          </div>
        <label><input class="uk-checkbox" type="checkbox" id="send-file-chk">Файл</label>
        <button class="uk-button uk-button-primary" type="submit" id="send-button">Отправить</button>
        <!-- This is a button toggling the modal -->
        <button class="uk-button uk-button-default" type="button" id="room-settings-open">Настройки</button>
      </form>
    </div>
    <div id="room-settings" class="uk-position-bottom">
          <!-- This is a button toggling the modal -->
          <button class="uk-button uk-button-primary uk-margin-small-right" type="button" uk-toggle="target: #all-rooms-modal">Добавить комнату</button>
          <a class="uk-button uk-button-default" href='/profile'>Перейти к профилю</a>
      </div>
</div>

<!-- This is the modal -->
<div id="room-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Настройки комнаты</h2>
        <div class="uk-width-expand@m uk-first-column">
            <select class="uk-select" id='free-user-list'>
            </select>
            <p id="full-room-prompt">В этой комнате уже все пользователи. Попробуйте в другой комнате.</p>
        </div>
        <button id="add-user-to-room" class="uk-button uk-button-default">Добавить пользователя</button>


    </div>
</div>
<!-- This is the modal -->
<div id="all-rooms-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input id="add-room-newroomname" class="uk-input" type="text" placeholder="имя комнаты">
            </div>
            <button id="add-room-add" class="uk-button uk-button-default">Добавить комнату</button>
        </div>
    </div>
</div>

    <script defer src="moment.min.js"></script>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="client-script.js"></script>
