<div class="uk-container">
{{#if message}}
<div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>{{message.title}}</h3>
    <p>{{message.text}}</p>
</div>
{{/if}}
<form action="/login" method="post">
	    <div class="uk-margin">
	        <div class="uk-inline">
	            <span class="uk-form-icon" uk-icon="icon: phone"></span>
                <input class="uk-input" type="text" name="tel" placeholder="номер телефона" value="{{tel}}" >
	        </div>
	    </div>

		<div class="uk-margin">
            <div class="uk-inline">
	            <a class="uk-form-icon uk-form-icon-flip" id="eyeicon" uk-icon="icon: fa-eye-slash"></a>
	            <input class="uk-input" name="password" id="pwd" type="password" placeholder="пароль" value={{password}}>
	        </div>
	    </div>
		<div>
			<input type="submit" value="Вход" class="uk-button uk-button-primary"/>


			<a class="uk-button uk-button-default" href="/register">Перейти к регистрации</a>

		</div>
</form>
</div>
<script>
const pwd = document.getElementById('pwd')
const eyeicon = document.getElementById('eyeicon')

eyeicon.addEventListener('click', event => {
    if (pwd.type == "password") {
        pwd.type = "text";
        eyeicon.setAttribute('uk-icon', 'icon: fa-eye');
    } else {
        pwd.type = "password";
        eyeicon.setAttribute('uk-icon', 'icon: fa-eye-slash');
    }
})
</script>
