<p>
ID: {{ user.id }}<br/>
Номер телефона: {{ user.tel }}<br/>
Имя: {{ user.name }}
</p>
<p> Здесь довольно скучно, но можно 
<a class="uk-button uk-button-primary" href="/logout">Выйти из системы</a>
</p>
