html, body {
  height: 100%;
  margin: 0;
}


/*
  * {
   outline: 1px solid red;
  }

  */

#body-container {
  max-height: 80%;
  display: flex;
  flex-direction: column-reverse;
  }

#room-list {
    padding: 0;
}

.msg {
    overflow: hidden;
    display: none;
    padding: 0;
    margin: 0;
}

.sysmsg {
    display: none;
}

.chat-open .self {
    justify-content: flex-end;
    align-items: flex-end;
    }


.chat-open .other {
    align-self: flex-start;
}

.msg-content {
    min-width: 50px;
    padding: 0;
    border-radius: 0;
    border-top-left-radius: 0;
    word-break: break-all;
}

.chat-open .msg-content {
    background: #eef8ff;
    padding: 10px;
    border-radius: 2px;
    border-top-left-radius: 2px;
}

.chat-container {
    margin: 0;
    padding: 0;
}

.user {
    display: flex;
    font-weight: bold;
}
.self .user {
    display: none;
}

.msg time {
    font-size: 0.8rem;
}

.msg-content p {
    margin: 0;
}

.msg:last-child {
  display: flex;
}

.room-item {
    padding: 5px;
}
.room-item:nth-child(even) {background: #CCC}
.room-item:nth-child(odd) {background: #DDD}

.chat-open .room-item {
    display: none;
    background: none;
    cursor: default;
}

.chat-open .active {
    display: block;
}

.chat-open .msg {
    display: flex;
    padding: 0.5rem;
}

.msg .uk-close {
    display: none;
}

.chat-open .msg .uk-close {
    display: block;
    margin-bottom: 0;
}

.room-item {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.chat-open .sysmsg {
    display: flex;
}
.sysmsg:last-child {
  display: flex;
}

#send-container {
    display: none;
}

.chat-open #send-container {
    display: block;
}

.chat-open #room-settings {
    display: none;
}

.room-item > h3 {
    cursor: pointer;
}


.room-item > h3 > span {
    display: none;
}

.chat-open .room-item > h3 > span {
    display: inline;
}



/* MODAL WINDOWS */
#full-room-prompt {display: none}
.room-full #full-room-prompt {display: block;}
.room-full #add-user-to-room {display: none;}
.room-full #free-user-list   {display: none;}
